<div layout="column" class="adminTabItem__editForm">
    <div class="form__inputGroup" layout="row">
        <label flex="none" class="form__inputLabel projectItem__nameLabel">Project Name: </label>
        <md-input-container flex md-no-float class="form__inputControl projectItem__projectNameControl">
            <input class="form__input" ng-model="getFormModel().name" aria-label="formModelName" placeholder="Enter Project name"/>
        </md-input-container>
    </div>

    <div layout="row" class="projectItem__datepickersContainer" layout-align="start center">
        <div flex="none">
            <label flex="none" class="form__inputLabel form__inputLabel--datepicker">Project Duration: </label>
        </div>
        <div flex="grow">
            <div layout="row">
                <div class="form__inputGroup form__inputGroup--datepicker projectItem__datepicker" layout="row">
                    <md-datepicker flex="grow" class="form__input form__datepicker" ng-model="getFormModel().startDate" md-placeholder="Start date"></md-datepicker>
                </div>

                <md-icon class="projectItem__datepickersSpacer">remove</md-icon>

                <div class="form__inputGroup form__inputGroup--datepicker projectItem__datepicker" layout="row">
                    <md-datepicker flex="grow" class="form__input form__datepicker" ng-model="getFormModel().endDate" md-placeholder="Start date"></md-datepicker>
                </div>
            </div>
        </div>
    </div>
    <div class="form__inputGroup" layout="row">
        <label flex="none" class="form__inputLabel projectItem__teamLabel">Team: </label>
        <md-contact-chips
                flex="grow"
                ng-model="getFormModel().members"
                ng-required="true"
                md-contacts="searchUser($query, getFormModel().members)"
                md-contact-name="name"
                md-contact-image="avatar"
                placeholder="Choose Project users"
                md-require-match="true">
        </md-contact-chips>
    </div>
</div>
