<form name="userForm" layout="column" class="adminTabItem__editForm">

    <div class="form__inputGroup" layout="row">
        <label flex="none" class="form__inputLabel userItem__nameLabel">Name: </label>
        <md-input-container flex md-no-float class="form__inputControl">
            <input class="form__input" ng-model="getFormModel().name" aria-label="formModelName" required name="name" placeholder="Enter User name"/>
        </md-input-container>
    </div>

    <div class="form__inputGroup" layout="row">
        <label flex="none" class="form__inputLabel userItem__rolesLabel">Roles: </label>
        <md-chips flex ng-model="getFormModel().Roles" md-autocomplete-snap
                  md-require-match="true">
            <md-autocomplete
                    md-search-text="searchModel"
                    md-items="roles in searchRole(searchModel, getFormModel().Roles)"
                    md-item-text="getFormModel().name"
                    md-min-length="1"
                    md-no-cache="true"
                    placeholder="Choose User roles">
                <span md-highlight-text="searchModel" md-highlight-flags="i" class="filterList__searchText">{{ roles.name }}</span>
            </md-autocomplete>
            <md-chip-template>
            <span>
              <span>{{$chip.name}}</span>
            </span>
            </md-chip-template>
        </md-chips>
    </div>
    <div class="form__inputGroup" layout="row">
        <label flex="none" class="form__inputLabel">Admin: </label>
        <md-switch flex="10" ng-model="getFormModel().isAdmin" aria-label="Admin Switch"></md-switch>
    </div>

</form>
