.statsFilters {
  &__chips {
  	width: 190px;
  }

  &__chipsLabel {
  	padding-right: 12px;
  	font-size: 14px;
  	line-height: 28px;
  	margin-top: 8px;
  }

  &__inputGroup {
  	margin-right: 30px;
  }

  &__datepickerContainer {
  	width: 280px;
  }

  &__datepickersSpacer {
  	margin-top: 11px;
    text-align: center;
  }
}
