<div layout="row" class="statsFilters__mainContainer">
  <div flex="25" class="statsFilters__itemContainer">
    <filter-list filter-collection="availableProjects" filter-model="filterProjects" filter-name-attributes="['name']" placeholder="All Projects"></filter-list>
  </div>
  <div flex="25" class="statsFilters__itemContainer">
    <filter-list filter-collection="availableSkills" filter-model="filterSkills" filter-name-attributes="['name']" placeholder="All Skills"></filter-list>
  </div>
  <div flex="25" class="statsFilters__itemContainer" ng-if="availableUsers">
    <filter-list filter-collection="availableUsers" filter-model="filterUsers" filter-name-attributes="['name']" placeholder="All Users"></filter-list>
  </div>
  <div flex="25" class="statsFilters__itemContainer">
    <md-datepicker ng-model="filterDateFrom" md-placeholder="Enter date"></md-datepicker>
    <md-datepicker ng-model="filterDateTo" md-placeholder="Enter date"></md-datepicker>
  </div>
</div>
