@import 'charts/charts';
@import 'skillBadge/skillBadge';
@import 'profile/profile';
@import 'topUsersList/topUsersList';
@import 'rateButton/rateButton';

md-sidenav, md-backdrop {
	position: fixed;
}

.user-dashboard {
	padding: 0 20px;

	@media(min-width: 900px) {
		padding: 0 80px;
	}
}

.user-dashboard__top-bar {
	display: flex;
	align-items: flex-start;
}

.user-dashboard__title {
	text-transform: uppercase;
	margin: 60px 0 20px 0;
	font-size: 20px;
}

.user-dashboard__filters {
	flex-grow: 1;
	margin: 0 5px;
}

.user-dashboard h3 {
	font-weight: normal;
}

.user-dashboard__col-wrapper {
	display: flex;

	@media(max-width: 900px) {
		flex-direction: column;
	}
}

.contributors-title {
	text-align: left;
}

.user-dashboard__main-col {
	flex-grow: 1;
}

.user-dashboard__side-col {
	padding: 0 3%;
	text-align: center;
}

.user-dashboard__team-skills {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.dashboard-sidenav__title {
	text-align: center;
	margin: 0px;
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
	text-transform: uppercase;
	display: inline-block;
	color: #515050;
}

.dashboard-sidenav__header {
	width: 346px;
	margin: 110px 57px 12px 57px;
}

.dashboard-sidenav__date-range {
	margin-top: 17px;
	font-size: 14px;
	line-height: 14px;
}

.dashboard-sidenav__close-icon {
	@include retina-sprite($close-group);
}

.dashboard-sidenav__close-button {
	position: relative;
	right: -14px;
}

.dashboard-sidenav__comment-content {
	font-size: 14px;
	line-height: 14px;
	border-bottom: 2px solid #e6e6e6;
}

.dashboard-sidenav__comment-icon {
	width: 57px;
	height: 96px;
}

.dashboard-sidenav__comment-time {
	margin-top: 28px;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.54);
	display: block;
}

.dashboard-sidenav__comment-text {
	margin-top: 12px;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 14px;
	width: 346px;
	display: block;
	color: #737373;
}

.dashboard-sidenav__thumb-up-icon {
	margin-top: 5px;
	@include retina-sprite($thumb-up-group);
}

.dashboard-sidenav__thumb-down-icon {
	margin-top: 56px;
	@include retina-sprite($thumb-down-group);
}

.user-dashboard__sidenav {
	width: 460px;
	max-width: 460px;
}

md-toast {
	position: fixed;
}

md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
	line-height: 130%;
}
