<div class="user-dashboard">
    <div flex class="user-dashboard__top-bar" layout="column">
        <h3 class="user-dashboard__title">My&nbspdashboard</h3>
        <stats-filters
                class="user-dashboard__filters"
                filter-projects="filters.project"
                filter-skills="filters.skill"
                filter-date-from="filters.startDate"
                filter-date-to="filters.endDate"
                available-skills="vm.skills"
                available-projects="vm.projects"/>
        <!-- <md-button class="md-raised" ui-sref="app.user.dashboard.rate" style="margin-top: 80px;">I WANT TO RATE SOMEONE NOW!!</md-button> -->
    </div>

    <div class="user-dashboard__col-wrapper">
        <div class="user-dashboard__main-col">
            <div>
                <h3>Your team skills</h3>
                <div class="user-dashboard__team-skills">
                    <span ng-repeat="skill in vm.softSkillStats track by skill.skillId" skill-badge data="skill"
                          ng-if="vm.softSkillStats"></span>
                </div>
            </div>

            <div ng-repeat="skill in vm.hardSkillStats track by skill.skillId">
                <h3>Your {{skill.name}} skills</h3>
                <user-stats-chart class="user-stats-chart" data="[skill]"
                                  skillpoint-selected="vm.skillpointSelected(date)"></user-stats-chart>
            </div>

            <md-sidenav class="md-sidenav-right md-whiteframe-z2 user-dashboard__sidenav" md-component-id="commentSidebar">
                <div class="dashboard-sidenav__header" layout="column">
                    <div layout="row" layout-align="space-between center">
                        <h1 class="dashboard-sidenav__title">Tips from your mates</h1>
                        <md-button ng-click="vm.commentsClose()" class="md-icon-button dashboard-sidenav__close-button">
                            <md-icon class="dashboard-sidenav__close-icon"></md-icon>
                        </md-button>
                    </div>
                    <div class="dashboard-sidenav__date-range">
                        28.01.2016 - 12.12.2017
                    </div>
                </div>
                <div layout="column">
                    <div ng-repeat="evaluation in vm.evaluations" ng-if="::evaluation.comment" layout="row">
                        <div flex="none" class="dashboard-sidenav__comment-icon" layout layout-align="start center">
                            <md-icon ng-class="{'dashboard-sidenav__thumb-up-icon': evaluation.starred, 'dashboard-sidenav__thumb-down-icon': !evaluation.starred}"></md-icon>
                        </div>
                        <div flex class="dashboard-sidenav__comment-content">
                            <span class="dashboard-sidenav__comment-time">2 min</span>
                            <p class="dashboard-sidenav__comment-text">{{::evaluation.comment }}</p>
                        </div>
                    </div>
                </div>
            </md-sidenav>
        </div>
        <div class="user-dashboard__side-col">
            <div>
                <h3>Contributors this week</h3>
                <div users-top-list data="vm.contributorsList"></div>
            </div>
        </div>
    </div>
    <ui-view></ui-view>
</div>
