<div class="user-dashboard">
    <div class="user-dashboard__top-bar">
        <h3 class="user-dashboard__title">My&nbspdashboard</h3>
        <stats-filters
                class="user-dashboard__filters"
                filter-projects="filters.project"
                filter-skills="filters.skill"
                filter-date-from="filters.startDate"
                filter-date-to="filters.endDate"
                available-skills="vm.skills"
                available-projects="vm.projects"/>
        <md-button class="md-raised" ui-sref="app.user.dashboard.rate">I WANT TO RATE SOMEONE NOW!!</md-button>
    </div>

    <div class="user-dashboard__col-wrapper">
        <div class="user-dashboard__main-col">
            <div>
                <h3>Your team skills</h3>
                <div class="user-dashboard__team-skills">
                    <span ng-repeat="skill in vm.softSkillStats track by skill.skillId" skill-badge data="skill"
                          ng-if="vm.softSkillStats"></span>
                </div>
            </div>

            <div ng-repeat="skill in vm.hardSkillStats track by skill.skillId">
                <h3>Your {{skill.name}} skills</h3>
                <user-stats-chart class="user-stats-chart" data="[skill]"
                                  skillpoint-selected="vm.skillpointSelected(skill, date)"></user-stats-chart>
            </div>

            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="commentSidebar">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Comments</h1>
                </md-toolbar>
                <md-content layout-padding>
                    <div ng-repeat="comment in vm.comments">
                        <p>{{::comment.comment }}</p>
                    </div>
                </md-content>
            </md-sidenav>
        </div>
        <div class="user-dashboard__side-col">
            <div>
                <h3>Contributors this week</h3>
                <div users-top-list data="vm.contributorsList"></div>
            </div>
        </div>
    </div>
    <ui-view></ui-view>
</div>
