<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <form name="userForm">
            <div layout-gt-xs="row">
                <md-input-container>
                    <label>Role</label>
                    <input ng-model="role.name">
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-chips ng-model="role.Skills" md-transform-chip="transformChip($chip, role)">
                    <md-autocomplete
                            md-selected-item="selectedItem"
                            md-search-text="searchText"
                            md-items="item in querySearch(searchText)"
                            md-item-text="item.name"
                            placeholder="Search skills">
                        <span md-highlight-text="searchText">{{item.name}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>
                          <strong>{{$chip.name}}</strong>
                        </span>
                    </md-chip-template>
                </md-chips>
            </div>
            <div layout-gt-xs="row">
                <div layout="row" layout-align="space-between center" class="adminTabItem__bottomControls" >
                    <md-button ng-click="deleteRole(role)" class="md-icon-button adminTabItem__removeIcon" flex="none" ng-show="role.id">
                        <md-icon>delete</md-icon>
                    </md-button>
                    <div flex="none" class="adminTabItem__submitButtons">
                        <md-button class="md-primary" ng-click="cancelRole(role)">cancel</md-button>
                        <md-button class="md-primary" ng-click="submitRole(role)">save</md-button>
                    </div>
                </div>
            </div>
        </form>
    </md-content>
</div>
