<section class="homeHeader">
    <img class="homeHeader__logo"  src="/public/images/logo.png">
    <span class="homeHeader__bannerTextWrapper">
        <h1 class="homeHeader__bannerText">Developers give props to each other and track their own progress.</h1>
        <h1 class="homeHeader__bannerText">Managers get insights to plan for the highest productivity.</h1>
    </span>
    <a href="#start">
        <div class="homeHeader__getPropsy">
            <p>GET PROPSY</p>
        </div>
    </a>
</section>
