.homeHeader {
  width: 100%;
  min-height: 100vh;
  background: url("/public/images/sectionHeader.png") center center fixed;
  background-size:cover;
  position: relative;
  display: block;
  text-align: center;
  box-shadow: initial;
}

.homeHeader__getPropsy{
  background-image: url('/public/images/get_propsy.png');
  background-repeat: no-repeat;
  width: 184px;
  height: 60px;
  position: absolute;
  display: inline-block;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-weight: 600;
}

.homeHeader__background{
  //@include retina-sprite($section-header-group);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.homeHeader__logo{
  width:100px;
  position: absolute;
  left: 50px;
  top: 50px;
}

.homeHeader__Heading{
  width: 100%;
  height: 200px;
  text-align: center;
  margin-bottom: 50px;
}

.homeHeader__bannerText{
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 300;

}

.homeHeader__bannerTextWrapper{
  display:inline-block;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.homeHeader__btnWrapper{
  width: 100%;
  text-align: center;
}

.homeHeader__btnStart{
  width: 150px;
  height: 50px;
  display: inline-block;
}

.homeHeader__btnStart--active{

}
.homeHeader__nextSession{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.homeHeader__icon{
  display: inline-block;
}
