body{
  margin: 0 0 0 0;
}

.homeHeader {
  width: 100%;
  height: 100vh;
  background: url("/public/images/sectionHeader.png") center center fixed;
  background-size:cover;
  position: relative;
  display: inline-block;
  text-align: center;

}

.homeHeader__background{
  //@include retina-sprite($section-header-group);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.homeHeader__logo{
  width:100px;
  margin: 200px auto auto 100px;
  position: absolute;
}

.homeHeader__Heading{
  width: 100%;
  height: 200px;
  text-align: center;
  margin-bottom: 50px;
}

.homeHeader__bannerText{
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 300;
}

.homeHeader__bannerTextWrapper{
  display:inline-block;
  vertical-align: middle;
  text-align: center;
}

.homeHeader__btnWrapper{
  width: 100%;
  text-align: center;
}

.homeHeader__btnStart{
  width: 150px;
  height: 50px;
  display: inline-block;
}

.homeHeader__btnStart--active{

}
.homeHeader__nextSession{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.homeHeader__icon{
  display: inline-block;
}
