<section class="homeHeader">
    <img class="homeHeader__logo"  src="/public/images/logo.png">
    <div class="homeHeader__wrapper">
        <h2 class="homeHeader__bannerText">Developers give props to each other and track their own progress.</h2>
        <h2 class="homeHeader__bannerText">Managers get insights to plan for the highest productivity.</h2>
        <h3 class="homeHeader__bannerSubText">Propsy will be released in May 2016. Sign up to get early access.</h3>

        <div id="mc_embed_signup">
            <form action="//apptension.us6.list-manage.com/subscribe/post?u=c2311b5c07f1a27cc562eccc0&amp;id=8c6a8857f2"
                  method="post" id="mc-embedded-subscribe-form"
                  name="mc-embedded-subscribe-form"
                  class="homeHeader__form"
                  target="_blank" novalidate>

                <input type="email" value="" name="EMAIL" class="homeHeader__input" placeholder="my@email.com"
                       id="mce-EMAIL">
                <input type="submit" value="GET EARLY ACCESS" name="subscribe" id="mc-embedded-subscribe" ng-click="onSubmit()"
                       class="button homeHeader__button">

                <div id="mce-responses" class="homeHeader__responses">
                    <div class="homeHeader__errorResponse" id="mce-error-response"></div>
                    <div class="homeHeader__successResponse" id="mce-success-response"></div>
                </div>

                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_75468108cfc9275469013eba8_8ed2c22dbd" tabindex="-1" value=""></div>
            </form>
        </div>

    </div>
</section>
