.card {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  vertical-align: middle;
}

.card__content {
  position: absolute;
  left: 10px;
  top: 10px;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 50%;
  color: #515050;
}

.card__skill {
  text-align: center;
  font-weight:bold;
  font-size: 11px;
}

.card__badge {
  position: relative;
  margin: 5px;
}

.card__value {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}
