.card__image {
  position: absolute;
  left: 10px;
  top: 10px;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 50%;
}

.card__skill {
  text-align: center;
  font-weight:bold;
}

.card__badge {
  position: relative;
  margin: 5px;
}
