md-dialog {
  min-width: 450px;

  md-dialog-actions {
    margin: 50px 30px 20px;
  }
}

md-dialog {
  h2 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
  }

  .md-toolbar-tools {
    h2 {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.7);
      text-transform: uppercase;
    }

    .md-icon-button {
      position: relative;
      top: -5px;
      right: 15px;
    }

    &:not(.md-menu-toolbar) {
      background: #fff;
      padding-top: 12px;
      padding-left: 30px;

      md-icon {
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}


