<div class="adminProjects__layout">
  <form name="projectForm">
    <md-input-container>
      <input type="text" name="name" placeholder="Name" required>
      <ng-messages>
        <ng-message for="required">This is required</ng-message>
      </ng-messages>
    </md-input-container>
    <md-button>Create</md-button>
  </form>
  <md-content flex="50">
    <md-list ng-cloak>
      <md-subheader class="md-no-sticky">Current Projects</md-subheader>
      <md-list-item ng-repeat="project in projects">
        <p> {{ project.name }} </p>
        <md-button class="md-icon-button" ng-click="removeProject(project)" aria-label="Remove"><md-icon>delete</md-icon></md-button>
      </md-list-item>
    </md-list>
  </md-content>
  <a ui-sref="app.admin.home">Back</a>
</div>
