<div class="rate__layout">
  <h1 class="rate__question">{{ vm.question }}</h1>
  <p class="rate__subtitle"> Rate me, pls. </p>

  <div class="rate__options">
    <md-button class="md-raised md-warn" ng-click="vm.submit(0)">ZERO</md-button>
    <md-button class="md-raised md-accent" ng-click="vm.submit(-1)">DISMISS</md-button>
    <md-button class="md-raised md-primary" ng-click="vm.submit(1)">PLUS ONE</md-button>
  </div>

  <md-input-container class="feedback">
    <h3 class="feedback__title">Want to add some feedback?</h3>
    <textarea class="feedback__text" ng-model="vm.feedbackText"></textarea>
  </md-input-container>
</div>
