.profile-image {
	border-radius: 50%;
	border: 1px solid lightgray;
	display: inline-block;
	width: 43px;
	height: 43px;
	background-size: cover;
	background-position: center;
	vertical-align: middle;
}
