<section class="homeOurapp">
    <div class="homeOurapp__heading">
        <h1>Our App</h1>
    </div>
    <section class="homeOurapp__appImage">
        <div class="homeOurapp_blue"></div>
    </section>
    <section class="homeOurapp__appFeatures">
        <div class="homeOurapp__heading">
            <h2>Key functionality</h2>
            <p>Description</p>
        </div>
        <div class="homeOurapp__feature">
            <div class="homeOurapp__imageWrapper">
                <div class="homeOurapp__image"></div>
            </div>
            <div class="homeOurapp__description">
                <h2>Badass advantage 1</h2>
                <p>The badass description 1</p>
            </div>
        </div>
        <div class="homeOurapp__feature">
            <div class="homeOurapp__imageWrapper">
                <div class="homeOurapp__image"></div>
            </div>
            <div class="homeOurapp__description">
                <h2>Badass advantage 2</h2>
                <p>The badass description 2</p>
            </div>
        </div>
    </section>
</section>
<section class="homeOurapp">
    <section class="homeOurapp__appFeatures">
        <div class="homeOurapp__heading">
            <h2>Key functionality</h2>
            <p>Description</p>
        </div>
        <div class="homeOurapp__feature">
            <div class="homeOurapp__imageWrapper">
                <div class="homeOurapp__image"></div>
            </div>
            <div class="homeOurapp__description">
                <h2>Badass advantage 1</h2>
                <p>The badass description 1</p>
            </div>
        </div>
        <div class="homeOurapp__feature">
            <div class="homeOurapp__imageWrapper">
                <div class="homeOurapp__image"></div>
            </div>
            <div class="homeOurapp__description">
                <h2>Badass advantage 2</h2>
                <p>The badass description 2</p>
            </div>
        </div>
    </section>
    <section class="homeOurapp__appImage">
        <div class="homeOurapp_blue"></div>
    </section>
</section>
