<section flex="nogrow">
    <section layout="column" layout-align="center center">
        <h1 class="homeOurapp__mainHeading">One solution benefits two roles</h1>
        <div layout="row" flex layout-align="center start" class="homeOurapp__introBlock">
            <p flex="30">Propsy is a tool for developers to <b>track their professional progress</b>, as well as their people skills. They rate their team members and are rated by them. Monitoring scores over time allows to narrow learning focus and encourages self-development. </p>
            <div flex="10"></div>
            <p flex="30">Propsy is a tool for managers <b>to get actionable data about their team members</b>. In the dashboard, managers see all of the scores and are able to compose optimal future teams accordingly. Propsy also quantifies a unique “team happiness” factor. </p>
        </div>
    </section>
</section>
<section class="homeOurapp" layout layout-align="start center">
    <section class="homeOurapp__appImage" flex="50">
        <img src="/images/screens/user-vote.png">
    </section>
    <section class="homeOurapp__appFeatures" flex="40">
        <h1>Peer evaluation. Gamified.</h1>
        <p>We get it, filling out endless questionnaires is boring.</p>
        <p>On the other hand, feedback provided within the team is especially valuable for the manager - it is based on actual work experience. To make this task seem effortless, we created a system of browser and email notifications, which can be answered by users whenever they feel like it.</p>
        <p>There is a gamification element to Propsy - people who answer the most questions and provide the most extensive feedback are named Top Contributors. This title comes with bragging rights, being present on everyone’s dashboards and possibly an additional award from your company?</p>
    </section>
</section>
<section class="homeOurapp" layout layout-align="end center">
    <section class="homeOurapp__appFeatures" flex="40" flex-offset="10">
        <h1>Insights tailored to your current needs.</h1>
        <p>In order to run your projects properly and plan perfectly synced teams for future activities, you have to make informed decisions. Manager’s dashboard gives you access to different  sorts of data.</p>
        <p>One way is to compare different people from one team based on their skill in, let’s say, Angular. You can also see who’s the strongest coder across the company. </p>
        <p>Remember that deploy fiasco from last week? Now, you’re able to measure how it affected team’s happiness and people’s perception about each others’ skills. This way you keep your finger on the pulse, taking the guesswork out of the process of assembling new teams.</p>
    </section>
    <section class="homeOurapp__appImage" flex="50">
        <img src="/images/screens/admin-home.png">
    </section>
</section>
<section class="homeOurapp" layout layout-align="start center">
    <section class="homeOurapp__appImage" flex="50">
        <img src="/images/screens/user-dashboard.png">
    </section>
    <section class="homeOurapp__appFeatures right" flex="40">
        <h1>Big picture for better productivity</h1>
        <p>Self-assessmenet is the first step of working out effective productivity habits. Propsy allows people to pinpoint the areas they want to focus on when developing new skills and improving the existing ones. Ongoing quantitative feedback provides ample options for setting goals and measuring actual progress.</p>
        <h1>Perfomance-based industry</h1>
        <p>It’s no secret that there’s little diversity in the IT sector. For Propsy, you’re as good as your code is. Managers are able to evaluate people based on their skills and progress, not gender, age or race. The questions we ask are specific and skill-based, prompting accurate and honest answers - no room for bullying in our app.</p>
    </section>
</section>
<section class="homeOurapp" layout layout-align="end center">
    <section class="homeOurapp__appFeatures" flex="40" flex-offset="10">
        <h1>Friendly stats with deeper meaning</h1>
        <p>Working in the IT industry, people usually focus on assessing technical skills. We know that people skills are extremely important when it comes to working in teams. That’s why we’ve included them in Propsy dashboards. They are based on Big Five personality traits which were shown to have some predictive value in terms of job performance. </p>
        <h1>Knowledge-sharing is caring</h1>
        <p>Mentoring is a perfect way to make sure the less experienced team members catch up quickly, but it could be time-consuming to manage. Propsy gives you a simple counterpart - while rating a team member, people are encouraged to add helpful links & tips enriching number-based analysis with qualitative data. </p>
    </section>
    <section class="homeOurapp__appImage" flex="50">
        <img src="/images/screens/admin-projects.png">
    </section>
</section>
