<section class="homeStart">
    <section class="homeStart__user">
        <h1>Start as User</h1>
        <div class="homeStart__photo"></div>
        <div class="homeStart__description">
            <p>Copy Lines</p>
        </div>
        <div class="homeStart__btnStart">
            <p>START AS USER</p>
        </div>
    </section>
    <section class="homeStart__admin">
        <h1>Start as Admin</h1>
        <div class="homeStart__photo"></div>
        <div class="homeStart__description">
            <p>Copy Lines</p>
        </div>
        <div class="homeStart__btnStart">
            <p>START AS USER</p>
        </div>
    </section>
    </section>
</section>
