.top-list {
	display: inline-block;
	text-align: left;
}

.top-list__item {
	margin: 10px 0;
	display: flex;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 7px;
		height: 100%;
		width: 1px;
		background: #f6f6f6;
	}
}

.top-list__item--last:before {
	transform: translateY(-50%);
}

.top-list__item--first:before {
	transform: translateY(50%);
}

.top-list__rank {
	margin-right: 15px;
	border: 1px solid #515050;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	display: inline-block;
	text-align: center;
	line-height: 15px;
	font-size: 10px;
	align-self: center;
	z-index: 1;
	background: white;
}

.top-list__divider {
	border-top: 1px solid #f6f6f6;
	margin-left: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	display: inline-block;
}

.top-list__mine-stats:before {
	content: none;
}
