<section class="homeStart" id="start" layout="column">
    <section flex="nogrow" class="homeStart__message">
        <h3>What's up #hackathon judges!</h3>
        <p>You said it loud & clear and we listened - no authorisations allowed. That’s why we want to give you no-login, hassle-free version of Propsy - please click on the buttons below to get the experience for team members and for their managers (both groups use the app and both benefit from it!). Also, scroll down to read more about the app in its current shape, as well as future possibilities.</p>
        <p>OK, dive right in and don’t forget to give us some props!</p>
        <p>- Z, Apptension CEO</p>
        <div class="homeStart__btnStartWrapper">
            <div class="homeStart__btnStart homeStart__btnStartTeam" ng-click="startAs({userId: randomUser().id})">
                <span>I'm a team member</span>
            </div>

            <div class="homeStart__btnStart homeStart__btnStartManager" ng-click="startAs({userId: admin.id})">
                <span>I'm a team manager</span>
            </div>
        </div>
    </section>
    <section flex class="homeStart__banner">

    </section>
</section>
