.homeStart{
  width: 100%;
  min-height: 100vh;
  box-shadow: 0px 0px 184px -60px rgba(191,191,191,1);
}

.avatar{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.homeStart__message{
  width: 80%;
  margin-left: 10%;
  min-height: 40vh;
  font-weight: 300;
  font-style: italic;
  h3 {
    font-weight: 400;
    display: inline-block;
    margin-top: 4em;
  }
}

.homeStart__btnStartWrapper{
  width: 100%;
  margin-bottom: 4.5em;
}

.homeStart__btnStart{
  position: relative;
  display: inline-block;
  top: 40%;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;

  cursor: pointer;

  span {
    vertical-align: middle;
    line-height: 55px;
  }
}

.homeStart__btnStartTeam{
  width: 285px;
  height: 60px;
  background: url('/public/images/btn_team_member.png') no-repeat;
}

.homeStart__btnStartManager{
  width: 185px;
  height: 60px;
  background: url('/public/images/btn_manager.png') no-repeat;
  background-size: 100%;
}

.homeStart__banner{
  width: 100%;
  max-height: 60vh;
  background: url("/public/images/middleSection.png") no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

