<section class="homeStart">

    <section class="homeStart__message">
        <h3>what's up #hackathon judges!</h3>
        <p>You said it loud & clear and we listened - no authorisations allowed. That’s why we want to give you no-login, hassle-free version of Propsy - please click on the buttons below to get the experience for team members and for their managers (both groups use the app and both benefit from it!). Also, scroll down to read more about the app in its current shape, as well as future possibilities.</p>
        <p>OK, dive right in and don’t forget to give us some props!</p>
        <p>- Z, Apptension CEO</p>
    </section>


    <!--<div class="homeStart__btnStart" ng-click="startAs({userId: users[0].id})">-->
        <!--<p>START AS USER</p>-->
    <!--</div>-->

    <!--<div class="homeStart__btnStart" ng-click="startAs({userId: admin.id})">-->
        <!--<p>START AS USER</p>-->
    <!--</div>-->

    <section class="homeStart__banner" data-depth="0.40">

    </section>
</section>

