.homeStart{
  width: 100%;
  min-height: 100vh;
  box-shadow: 0px 0px 184px -60px rgba(191,191,191,1);
}

.avatar{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.homeStart__message{
  width: 80%;
  margin-left: 10%;
  min-height: 40vh;
  font-weight: 300;
  font-style: italic;
  h3 {
    font-weight: 400;
    display: inline-block;
    margin-top: 4em;
  }
}

.homeStart__btnStartWrapper{
  width: 100%;
  margin-bottom: 4.5em;
}

.homeStart__btnStart{
  position: relative;
  display: inline-block;
  top: 40%;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  padding: 8px 8px 8px 8px;
  width: 200px;
  height: 60px;

  cursor: pointer;
  &:focus, &:active {
    outline: none;
  }

  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    -webkit-box-shadow: inset 0px 0px 30px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 0px 30px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 30px 1px rgba(0,0,0,0.1);
  }

  span {
    vertical-align: middle;
    line-height: 44px;
  }
}

.homeStart__btnStartTeam{
  background-color: #009bf2;
  border-radius: 10px;
}

.homeStart__btnStartManager{
  background-color: #fbc006;
  border-radius: 10px;
  margin-left: 20px;
}

.homeStart__banner{
  position: relative;
  width: 100%;
  min-height: 60vh;
  background: url("/public/images/middleSection.png") no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.homeStart__bannerText {
  font-size: 48px;
  color: #fff;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 70px 120px;
}
