<section class="homeTeam">
    <div class="homeTeam__teamRow">
        <div class="homeTeam__teamMember">
            <div class="homeTeam__teaMemberTooltip">
                <p><b>Michal K.</b></p>
                <p>Backend</p>
            </div>
        </div>
        <div class="homeTeam__teamMember">
            <div class="homeTeam__teaMemberTooltip">
                <p><b>Michal K.</b></p>
                <p>Backend</p>
            </div>
        </div>
        <div class="homeTeam__teamMember">
            <div class="homeTeam__teaMemberTooltip">
                <p><b>Michal K.</b></p>
                <p>Backend</p>
            </div>
        </div>
        <div class="homeTeam__teamMember">
            <div class="homeTeam__teaMemberTooltip">
                <p><b>Michal K.</b></p>
                <p>Backend</p>
            </div>
        </div>
        <div class="homeTeam__teamMember">
            <div class="homeTeam__teaMemberTooltip">
                <p><b>Michal K.</b></p>
                <p>Backend</p>
            </div>
        </div>
        <div class="homeTeam__teamMember">
            <div class="homeTeam__teaMemberTooltip">
                <p><b>Michal K.</b></p>
                <p>Backend</p>
            </div>
        </div>
        <div class="homeTeam__teamMember">
            <div class="homeTeam__teaMemberTooltip">
                <p><b>Michal K.</b></p>
                <p>Backend</p>
            </div>
        </div>
    </div>
    <div class="homeTeam__teamRow">
        <div class="homeTeam__teamMember">
            <div class="homeTeam__teaMemberTooltip">
                <p><b>Michal K.</b></p>
                <p>Backend</p>
            </div>
        </div>
        <div class="homeTeam__teamMember">
            <div class="homeTeam__teaMemberTooltip">
                <p><b>Michal K.</b></p>
                <p>Backend</p>
            </div>
        </div>
        <div class="homeTeam__teamMember">
            <div class="homeTeam__teaMemberTooltip">
                <p><b>Michal K.</b></p>
                <p>Backend</p>
            </div>
        </div>
        <div class="homeTeam__teamMember">
            <div class="homeTeam__teaMemberTooltip">
                <p><b>Michal K.</b></p>
                <p>Backend</p>
            </div>
        </div>
        <div class="homeTeam__teamMember">
            <div class="homeTeam__teaMemberTooltip">
                <p><b>Michal K.</b></p>
                <p>Backend</p>
            </div>
        </div>

    </div>
    <div class="homeTeam__teamRow homeTeam__heading">
        <h1>HACKATHON TEAM</h1>
    </div>
    <div class="homeTeam__teamRow homeTeam__desc">
        <p>We’re a group of people who live and breathe technology. All of us work at Apptension, Poland-based creative software house. </p>
    </div>
    <div class="homeTeam__teamRow homeTeam__desc">
        <p>Propsy is the lovechild of our geeky passion for beautiful data and the actual needs we encountered at work. We’re planning to use it on regular basis starting tomorrow. </p>
    </div>
    <div class="homeTeam__teamRow homeTeam__desc">
        <p>Hope you enjoy Propsy! We definitely has a blast building it.</p>
    </div>
</section>
