<md-dialog aria-label="Add Role" ng-cloak class="adminTutorial__dialog">
    <md-toolbar>
        <div class="md-toolbar-tools addProjectDialog__toolbar">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon maria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="adminTutorial__container">
            <span class="adminTutorial__icon"></span>
            <h2 class="adminTutorial__heading">Get insights about your team</h2>
            <p>This is a space for team managers to monitor and analyze the progress of their team. Check out what you can learn!</p>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="addProjectDialog__footer">
        <md-button class="md-primary" ng-click="close()">ok, i get it</md-button>
    </md-dialog-actions>
</md-dialog>
