<md-dialog aria-label="Add Role"  ng-cloak class="addProjectDialog">
    <md-toolbar>
        <div class="md-toolbar-tools addProjectDialog__toolbar">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon maria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        The way Propsy works is that team members are notified about the next question awaiting them. Your notification should appear in 10 seconds. We know you’re busy people, so if you just can’t wait, just click the floating button in the corner of the screen.
    </md-dialog-content>
    <md-dialog-actions layout="row" class="addProjectDialog__footer">
        <md-button class="md-primary" ng-click="close()">ok, i get it</md-button>
    </md-dialog-actions>
</md-dialog>
