svg {
  font: 10px sans-serif;
}

.line-chart-xaxis,
.line-chart-yaxis {
  path, line {
    fill: none;
    stroke: #e7e7e7;
    shape-rendering: crispEdges;
  }
}

.line-chart-series {
  fill: none;
  stroke-width: 2;
}

.line-chart-series-dot {
  cursor: pointer;
}
