.adminHome__layout {
  padding: 2em;

  .top-list__rank-circle {
    border-width: 2px;
  }
}

.admin-home__nodata {
  text-align: center;
  margin-top: 100px;
}

.admin-home__skill {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.admin-home-skill__users {
  flex: 0 0 300px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.admin-home-skill__chart {
  flex: 1 1 100%;
}

.admin-home-skill__chart {
  display: block;
  height: 400px;
}

.admin-home-skill__title {
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
}

.admin-home__wrapper {
  display: flex;
  margin-top: 60px;
}

.admin-home__col-left {
  flex: 1 1 100%;
}

.admin-home__col-right {
  flex: 0 0 400px;
  align-items: center;
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: normal;
    font-size: 26px;
  }

  .card__value {
    margin-top: -8px;
  }
}
