.adminHome__layout {
  padding: 2em;
}

.adminHome__usersListItem {
  display: inline-block;
  margin-right: 1em;
}

.adminHome__usersListAvatar {
  border-radius: 50%;
}

.adminHome__skillsListItem {
  margin-bottom: 2em;
}

