@import 'projects/projects';

$content-padding: 40px;
$entity-padding: 30px;
$entity-height: 85px;

.adminSettings {
  &__sideMenu {
    border-right: 1px solid rgba(0,0,0,0.12);
    width: 280px;
  }

  &__sideMenuList {
    padding: 0;
  }

  &__sideMenuItem {
    padding: 0;
    border-left: 4px solid transparent;
  }

  &__sideMenuItemButton {
    padding: 6px 30px;
    margin: 0;
    width: 100%;
    text-align: left;
    border-radius: 0;
    text-transform: none;
  }

  &__sideMenuItemButton--active {
    background: #fafafa;
  }

  &__sideMenuItemIcon {
    margin-right: 26px;
  }

  &__sideMenuItem--active {
    border-left: 4px solid #009cf3;
  }

  &__sideMenuArrow {
    position: absolute;
    right: 16px;
    top: 12px;
    @include transform(rotate(-90deg))
  }

  &__sideMenuItemLink {
    width: 100%;
    text-align: left;
  }

  &__componentContainer {
  }
}

.adminTabItem {
  &__mainContainer {
    align-content: center;
    min-height: $entity-height;
    width: (800px - $content-padding * 2);
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.12);
  }

  &__labelContainer {
    height: $entity-height;
    padding: 0px ($entity-padding - 16px);
    align-content: center;
    outline: none;
  }

  &__name {
    display: block;
    font-size: 16px;
  }

  &__desc {
    display: block;
    font-size: 14px;
  }

  &__date {
    height: ($entity-height - $entity-padding * 2);
    line-height: ($entity-height - $entity-padding * 2);
    color: #757575;
    font-size: 14px;
    position: absolute;
    right: 16px;
    top: 30px;
  }

  &__editContainer {
    transition: max-height 0.5s ease-in-out;
    background: #fafafa;
    border-top: 1px solid rgba(0,0,0,0.12);
    overflow: hidden;
    box-sizing: border-box;
    max-height: 350px;
    .adminTabItem__editForm {
      transition: opacity 0.4s ease-in-out;
      opacity: 1;
    }
    &.ng-hide {
      max-height: 0px;
      .adminTabItem__editForm {
        opacity: 0;
      }
    }
  }

  &__submitButtons {
    position: relative;
    right: -8px;
  }

  &__removeIcon {
    position: relative;
    left: -14px;
  }

  &__editForm {
    margin: $entity-padding $entity-padding 20px $entity-padding;
  }

  &__bottomControls {
    margin-top: 50px;
  }
}

.adminTabContent {
  &__header {
    align-self: flex-start;
    margin-bottom: 16px;
  }

  &__tabList {
    padding: 0 $content-padding;
  }

  &__filterControls {
    padding-left: $content-padding;
    font-size: 12px;
    letter-spacing: 0.007em;
    line-height: 13px;
    color: rgba(33, 33, 33, 0.38);
  }

  &__filterControl {
    width: 248px;
  }

  &__tabTitle {
    text-transform: uppercase;
    padding: 40px $content-padding 30px;
    font-size: 24px;
    margin: 0;
  }

  &__tabDesc {
    color: rgba(0, 0, 0, 0.54);
    padding: 0px $content-padding;
    margin-bottom: 52px;
    font-size: 14px;
    width: 750px;
  }

  &__addButton {
    position: fixed;
    right: 40px;
    bottom: 40px;
    &.md-button.md-fab,  &.md-button.md-fab.md-focused{
      box-shadow: none;
    }
  }
}

a.md-button.adminSettings__sideMenuItemButton {
  &:hover:not([disabled]) {
    background: transparent;

    &.adminSettings__sideMenuItemButton--active {
      background: #fafafa;
    }
  }
}
