.projectItem {
  &__icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    margin: 6px 15px 8px 0px;
    text-align: center;

  }

  &__datepickersSpacer {
    margin: 5px 20px;
    text-align: center;
  }

  &__datepickersContainer {
    margin-bottom: 20px;
  }

  &__nameLabel {
    &.form__inputLabel {
      margin-right: 26px;
    }
  }
}

/* RESET */
md-datepicker {
  background: transparent;
  margin-left: -14px;
}

.md-datepicker-input, .md-datepicker-open  {
  height: auto;
}
