.projectItem {
  &__icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    margin: 8px 15px 8px 0px;
    background-color: #757575;
    text-align: center;
    md-icon {
      color: #fff;
    }
  }

  &__dateDivider {
    margin: 0 20px;
  }

  &__editContainer {
    height: 280px;
  }
}

/* RESET */
md-datepicker {
  background: transparent;
  margin-left: -14px;
}
